# Godot 4+ specific ignores
.godot/
/android/
*.import
/Godot/
~$*
/current*.png
/current.wav
/frame*.png
/frame.wav
/training_preview.avi
/.codex_doc_review/
*.log
/.local/
/.tmp/
/outputs/
__pycache__/
/addons/lua-gdextension/*
!/addons/lua-gdextension/build/
/addons/lua-gdextension/build/*
!/addons/lua-gdextension/build/libluagdextension.windows.template_debug.x86_64.dll
!/addons/lua-gdextension/build/libluagdextension.windows.template_release.x86_64.dll
!/addons/lua-gdextension/luagdextension.gdextension
!/addons/lua-gdextension/LICENSE
